.Calculator{
  border: 1px solid gray;
  height: 100%;
  width: 500px;
}

.display {
  width: 497px;
  height: 75px;
  border-radius: 3px;
  border: 2px solid black;
}

.Equation {
  font-size: 16pt;
  height: 15px;
  text-align: right;
  margin-bottom: 5px;
  margin-right: 3px;
}

.CurrentNumber {
  height: 50px;
  font-size: 40px;
  text-align: right;
  vertical-align: middle;
  margin-right: 3px;
}

.btn {
  font-size: 2em;
  height: 2.5em;
  width: 2.5em;
}

.register {
  font-size: 1.5em;
}